a {
    color: $color-main;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:focus {
        outline: none;
    }

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}
