@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
    }

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
    }

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
    }

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes listCheckCircle {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.7);
    }

    70% {
        opacity: 1;
        transform: translateY(-5px) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes listCheckIcon {
    70% {
        opacity: 0;
        transform: scale(0.8) translateY(-4px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
