.container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px;

    @include break(lg) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include break(md) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include break(sm) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @include break(xs) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

    .container--full {
        max-width: none;
    }

.container-limit {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content-all {
    overflow-x: hidden;
}

.page-footer {
	padding-top: 30px;
	padding-bottom: 25px;
	border-top: 1px #eee solid;
    color: $color-dark;

    @include break(md) {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 14px;
    }
}

.page-footer-alt {
	padding-top: 35px;
	padding-bottom: 25px;
    border-top: none;
    color: $color-dark;
}

.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
	color: $color-dark;
	text-transform: uppercase;
	padding: 15px 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.18);
	transition: padding ease-out 0.2s;
	@include z-index(page-header);
}

    .page-header--fixed {
        position: fixed;
    }

    .page-header--small {
        padding: 2px 0;

        &:hover {
            padding: 15px 0;
        }

        @include break(sm) {
            padding: 0;

            &:hover {
                padding: 7px 0;
            }
        }
    }

.page-title {
	color: #fff;
    padding: 156px 0 50px;

    @include break(md) {
        padding: 141px 0 35px;
    }

    @include break(sm) {
        padding: 131px 0 25px;
    }
}

.section-content {
    padding-top: 110px;
    padding-bottom: 110px;

    @include break(md) {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    @include break(sm) {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

    .section-content--bottom-smaller {
        padding-bottom: 90px;

        @include break(md) {
            padding-bottom: 60px;
        }

        @include break(sm) {
            padding-bottom: 35px;
        }
    }

    .section-content--mid {
        padding-top: 75px;
        padding-bottom: 75px;

        @include break(md) {
            padding-top: 45px;
            padding-bottom: 45px;
        }
    }

    .section-content--sm-bottom-small {
        @include break(sm) {
            padding-bottom: 30px;
        }
    }

    .section-content--small {
        padding-top: 45px;
        padding-bottom: 45px;

        @include break(md) {
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }

    .section-content--tiny {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .section-content--top-small {
        padding-top: 70px;

        @include break(md) {
            padding-top: 50px;
        }

        @include break(sm) {
            padding-top: 30px;
        }
    }

.section-dark {
    color: #bbb;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-extra-dark {
    color: #bbb;
	background-color: $color-dark;
}

.section-light {
    background-color: #fff;
}

.section-top {
    position: relative;
    padding-top: 106px;
}

.section-top__bottom {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    @include z-index(above);

    @include break(sm) {
        bottom: 30px;
    }
}

.section-top__inner {
    position: relative;
    display: flex;
    min-height: calc(100vh - 106px);
    align-items: center;
    justify-content: center;
    background-image: url('images/bg_front_960.jpg');
	text-align: center;
	background-position: left top;
	background-size: cover;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 170px;
    @include z-index(above);

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        content: '';
        @include z-index(below);
    }

    @include break-min(backgrounds) {
        background-image: url('images/bg_front_1920.jpg');
    }

    @include break(sm) {
        padding-top: 60px;
        padding-bottom: 110px;
    }
}
