$color-main: #e7ad00;
$color-text: #666;
$color-dark: #222;
$color-darker: #333;
$color-gray: #969696;
$color-gray-light: #ccc;
$color-red: #f00;
$color-silver: #aaa;

$color-bg: #2c2c2c;

$color-service: #888;
$color-service-border: #eee;
$color-service-row: #f6f6f6;

$color-input: #eee;

$color-border: #ddd;
$color-border2: #eee;

$color-tooltip: #fff;
$color-tooltip-dark: #000;

$color-work: #e9e9e9;
$color-work-text: #eee;
