$breakpoints-global: (
    xs: 360,
    sm: 480,
    md: 767,
    backgrounds: 960,
    lg: 1024,
    xl: 1200,
    xxl: 1600,
    works2: 569,
    works3: 949,
    works4: 1329,
    works5: 1709
);

$breakpoints-grid: (
    xs: 360,
    sm: 480,
    md: 767,
    lg: 1024,
    xl: 1200,
    xxl: 1600
);
